@use 'base/variables' as v;

.footer-principal{
    background-color: v.$rosa;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding: 2.5rem;
    color: v.$blanco;
    cursor: pointer;
    a{
        color: v.$blanco;
        text-decoration: none;
    }
    a:hover {
        color: v.$morado;
    }
}