html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/

@media (min-width: 768px) { /*solo si el ancho de la pantalla es de al menos 768 píxeles.*/
    .dos-columnas {
        display: flex; /*Propiedades de flexbox organiza a los elementos hijos */
        justify-content: space-between; /*contenedor .dos-columnas se distribuyan de manera uniforme, con espacios iguales entre ellos.
                                            Esto empuja el primer hijo hacia el borde izquierdo y el último hacia el borde derecho*/
        gap: 1rem;
    }
    .entrada-blog {
        flex: 0 0 calc( 50% -1rem); /*0 (primer valor): No permite que el elemento crezca más allá del tamaño calculado.
                                     0 (segundo valor): No permite que el elemento se reduzca más allá del tamaño calculado.
                                    calc(50% - 1rem) (tercer valor): Establece el tamaño base del elemento como el 50% del ancho del contenedor, restándole 1 rem para dar espacio entre elementos.*/
    }
}