html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/

@media (min-width: 768px) {  /*olo se aplicarán en dispositivos con un ancho de pantalla igual o mayor a 768 píxeles*/
    .tres-columnas {
        display: flex;  /*Se configura el contenedor como flexbox. lo que permite alinear y distribuir sus elementos hijos de manera flexible*/ 
        justify-content: space-between; /*Distribuye los elementos hijos dentro del contenedor de manera que haya espacio igual entre ellos.*/
    }

    .entrada-blog {
        flex: 0 0 calc(33.3% - 1rem)  /*Define el comportamiento de flexbox para cada elemento .entrada-blog con estos valores:
        0 (primer valor): El elemento no puede crecer más allá del tamaño base calculado.
        0 (segundo valor): El elemento no puede reducirse más allá del tamaño base calculado.
        calc(33.3% - 1rem) (tercer valor): Establece el tamaño base como el 33.3% del ancho del contenedor, restándole 1 rem para dejar espacio entre los elementos.*/
    }
    
}