@use 'variables' as v;


//Se generan los mixin para media querry 

@mixin telefono {
      @media (min-width: v.$telefono){
        @content;
    
    }
}

@mixin tablet {
    @media (min-width: v.$tablet){
      @content;
  
  }
}

@mixin desktop {
    @media (min-width: v.$desktop){
      @content;
  
  }
}

@mixin desktopXl {
    @media (min-width: v.$desktopXl){
      @content;
  
  }
}

@mixin contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

//se le agrego al mixin $columanas para que al ocuparlo se le pueda poner un parametro y se ponga en automatico en template-columns
//se incluye $gap para definirlo al usar el mixin con la opcion de que si no se ingresa un valor se pondra en automatico $gap : 5rem
@mixin grid($columnas: 1, $gap: 5rem) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  gap: $gap;
}

@mixin resetear-lista {
  margin: 0;
  padding: 0;
  list-style: none;
}